DB_HOST=172.17.0.1
DB_PORT=3336
DB_NAME=mydb
DB_USERNAME=mysql
DB_PASSWORD=mysql

NODE_ENV=dev
STAGE=dev
PORT=3000
DEFAULT_LIMIT=10
HOST_API=http://localhost:3000/api
HOST=0.0.0.0

REDIS_URL=redis://localhost:6380
